<div class="tasks-complete">
  <p id="notice"><%= notice %></p>

  <h1>Complate Tasks</h1>

  <%= link_to slack_tasks_path, disabled: false, disable_with: "Please wait...", class: "btn waves-effect" do %>
    <i class="small material-icons">send</i>
  <% end %>

  <h2>Today's Tasks</h2>
  <%= render partial: "tasks", collection: @finished_today_tasks, as: :task %>


  <h2>All Tasks</h2>
  <%= render partial: "tasks", collection: @finished_not_today_tasks, as: :task %>
</div>