<div class="tasks">
  <p id="notice"><%= notice %></p>

  <h1>Tasks</h1>

  <%= link_to new_task_path do %>
    <i class="small material-icons">playlist_add</i>
  <% end %>

  <h2>Today's Tasks</h2>
  <%= render partial: "tasks", collection: @today_tasks, as: :task %>

  <h2>All Tasks</h2>
  <%= render partial: "tasks", collection: @not_today_tasks, as: :task %>
</div>